@model IEnumerable<MapProject.Models.LocationViewModel>
@foreach (var item in Model)
{
    if (Model.First() == item)
    { }
    else
    {
        <hr>
    }

    <li class="listItem row">
        @*<input type="checkbox" class="checkbox" id="_checkbox_btn" value="@Html.DisplayFor(modelItem => item.Latitude),@Html.DisplayFor(modelItem => item.Longitude)" />*@

        @*<img id="thumbimg" class="img-thumbnail col-xs-5 col-sm-5 col-md-5 col-lg-5" src="@Html.DisplayFor(modelItem => item.Picture)">*@
        <img id="locationpic" class="img-thumbnail col-xs-5 col-sm-5 col-md-5 col-lg-5" src="data:image;base64,@System.Convert.ToBase64String(item.Picture)" />
        <div id="text" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <text class="nameText">@Html.DisplayFor(modelItem => item.Name)</text><br>
            @*@Html.DisplayFor(modelItem => item.Latitude)<br>
            @Html.DisplayFor(modelItem => item.Longitude)<br>
            @Html.DisplayFor(modelItem => item.Time)<text> Mins</text><br>*@
            <br />
            @if (@item.Website != null)
            {
                <a href="@item.Website">Website</a><br /><br />
            }
            @if (@item.Description != null)
            {
                <a class="readmore">Read More</a>
            }
        </div>
        <div id="checkbox" class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            <input type="checkbox" class="checkbox" id="_checkbox_btn" value="@Html.DisplayFor(modelItem => item.Latitude),@Html.DisplayFor(modelItem => item.Longitude)" />
            @Html.HiddenFor(modelItem => item.Id, htmlAttributes: new { id = "LocationID" })
        </div>
        <div id="desc">
            @Html.DisplayFor(modelItem => item.Description)
        </div>
        <br><br />
    </li>
}
<script>
    $(".readmore").click(function () {

        var test = $(this).parent().parent()[0].children[3];
        $text = $(test).attr('id');
        //$(test).fadeIn("slow").css("display", "inline-block");
        if ($(test).css('display') == 'none') {
            $(test).fadeIn("slow").css("display", "inline-block");
        } else {
            $(test).fadeOut("slow");
        }
    });
</script>