@Styles.Render("~/Content/Homecss")
@{
    ViewBag.Title = "Home Page";
}
<div id="home">
    <div id="Head" class="row">
        <img id="mainimg" src="~/Content/Images/Visit Tourv2.png" />
    </div>

    <div id="Action" class="row">
        @*<input id="btnGuest" type="button" value="Try out as Guest!" />*@
        <div class="col-md-4">
            @Html.ActionLink("Try out as Guest!", "Index", "Map",null, new { id = "btnGuest" })
        </div>
        <div class="col-md-4">
            @*<input id="btnOwner" type="button" value="Owners Login" />*@
            @Html.ActionLink("Login", "Index", "Map",null, new { @id = "btnLogin" })
        </div>
        <div class="col-md-4">
            @*<input id="btnOwner" type="button" value="Owners Login" />*@
            @Html.ActionLink("Register", "Register", "Account", null, new { @id = "btnRegister" })
            @*@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })*@
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            @Html.ActionLink("MapView", "Index", "Map")<br />
            @Html.ActionLink("OwnerView", "Index", "Owner")
        </div>
    </div>

    @*<hr class="featurette-divider">*@

    <!-- First Featurette -->
    <div class="featurette" id="about">
        <img class="featurette-image img-circle img-responsive pull-right" src="~/Content/Images/places.png">
        <h2 class="featurette-heading">
            This First Heading
            <span class="text-muted">Will Catch Your Eye</span>
        </h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>

    <!-- Second Featurette -->
    <div class="featurette" id="services">
        <img class="featurette-image img-circle img-responsive pull-left" src="~/Content/Images/Curiated.png">
        <h2 class="featurette-heading">
            The Second Heading
            <span class="text-muted">Is Pretty Cool Too.</span>
        </h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>

    <!-- Third Featurette -->
    <div class="featurette" id="contact">
        <img class="featurette-image img-circle img-responsive pull-right" src="~/Content/Images/Map.png">
        <h2 class="featurette-heading">
            The Third Heading
            <span class="text-muted">Will Seal the Deal.</span>
        </h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
</div>