@Styles.Render("~/Content/Homecss")
@{
    ViewBag.Title = "Home Page";
}
<div id="home">
    <div id="Head" class="row">
        <img id="mainimg" src="~/Content/Images/Visit Tourv2.png" />
    </div>

    <div id="Action" class="row">
        <div class="col-md-4">
            @Html.ActionLink("Try out as Guest!", "Index", "Map",null, new { id = "btnGuest" })
        </div>
        <div class="col-md-4">
            @Html.ActionLink("Login", "Index", "Map",null, new { @id = "btnLogin" })
        </div>
        <div class="col-md-4">
            @Html.ActionLink("Register", "Register", "Account", null, new { @id = "btnRegister" })
        </div>
    </div>

    @*<div class="row">
        <div class="col-md-3">
            @Html.ActionLink("MapView", "Index", "Map")<br />
            @Html.ActionLink("OwnerView", "Index", "Owner")
        </div>
    </div>*@

    @*<hr class="featurette-divider">*@

    <!-- First Featurette -->
    <div class="featurette" id="about">
        <img class="featurette-image img-circle img-responsive pull-right" src="~/Content/Images/places.png">
        <h2 class="featurette-heading">
            What is VISiTOUR
            @*<span class="text-muted">Will Catch Your Eye</span>*@
        </h2>
        <p class="lead">VISiTOUR is a web application that provides for all types of travellers in planning out their ideal day’s itinerary that’s suited to their own needs, preferences and circumstances.</p>
    </div>

    <!-- Second Featurette -->
    <div class="featurette" id="services">
        <img class="featurette-image img-circle img-responsive pull-left" src="~/Content/Images/Curiated.png">
        <h2 class="featurette-heading">
            Curated Packages
            @*<span class="text-muted">Is Pretty Cool Too.</span>*@
        </h2>
        <p class="lead">Pre-defined location collections themed on certain interests or ideal itinerary trip categories like scenic, educational, A Day in the Town or Editor’s Choice. All collected by VISiTOUR staff and renowned tourism experts.</p>
    </div>

    <!-- Third Featurette -->
    <div class="featurette" id="contact">
        <img class="featurette-image img-circle img-responsive pull-right" src="~/Content/Images/Map.png">
        <h2 class="featurette-heading">
            Visual Itinerary Display
            @*<span class="text-muted">Will Seal the Deal.</span>*@
        </h2>
        <p class="lead">VISiTOUR gives you a clear and easy to read breakdown of your journey with a detail break down of each stop of your journey. </p>
    </div>
</div>
<script>$("footer").hide();</script>